<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.project.john.bef"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".manager.AlarmReceiver"/>
        <activity android:name=".Main"
                  android:label="Best Friend"
                  android:configChanges="orientation|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Login"
            android:label="Best Friend"
            android:configChanges="orientation|screenSize"
            />
        <activity
            android:name=".activity.Membership"
            android:label="Best Friend"
            android:configChanges="orientation|screenSize"
            />
        <activity
            android:name=".activity.Db"
            android:label="Best Friend"
            android:configChanges="orientation|screenSize"
            />
        <activity
            android:name=".activity.Option"
            android:label="Best Friend"
            android:configChanges="orientation|screenSize"
            />
    </application>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
</manifest>
